@media screen and (max-width: 768px) {
    .container {
        width: 750px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 460px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    .row {
        flex-direction: column;
        flex-grow: 1;
        row-gap: 60px;
    }

    .lessons .col {
        width: 100%;
    }

    .card {
        padding: 0 30px;
    }

    .steps .col {
        width: 100%;
    }

    .why-us {
        background-color: #222222;
        margin-top: -50px;
        margin-bottom: 0;
        padding: 3rem 0.5rem;
    }

    .why-us .col.col-left, .col.col-right, img {
        width: 100%;
    }
}